<template>
    <div class="chat-list-wrap">
        <div class="chat-list">
            <div class="headline">
                <h3>Сообщения <span class="messages-count">{{messagesCount}}</span></h3>
            </div>
            <div
                    v-for="(item, key) in chatList"
                    :key="key"
                    class="chat-item"
            >
                <router-link tag="div" class="router-link" active-class="active-link-in-admin" :to="`/${item.id}`">
                    <Chat
                        :title="item.subject"
                        :date="item.created"
                        :text="item.parts[item.parts.length -1].text"
                    />
                </router-link>
            </div>
        </div>
        <div class="messages">
            <router-view/>
        </div>
    </div>
</template>
<script>
    import Chat from "../components/Chat"

    export default {
        name: "Messages",
        components: {
            Chat
        },
        data() {
            return {
                chatList: [],
            }
        },
        mounted() {
            this.chatList = this.$store.getters["chat/chats"];
        },
        computed: {
            messagesCount() {
                return this.$store.getters["chat/getAllMessagesCount"]
            }
        }
    }
</script>

<style lang="scss">
    .chat-list-wrap{
        display: grid;
        grid-template-columns: auto 1fr;
        min-height: 100vh;

        .chat-list{
            background-color: #F3F6F8;
            overflow: auto;
            height: 100vh;

            & > .headline{
                padding: 20px 25px;
                border-bottom: 1px solid #E9EDF2;

                h3{
                    margin: 0;
                    font-size: 14px;
                    font-weight: 300;
                    line-height: 20px;
                    color: #656B77;

                    .messages-count{
                        color: #D2D8DE;
                        margin-left: 7px;
                    }
                }
            }
            .chat-item{
                border-bottom: 1px solid #E9EDF2;
                cursor: pointer;

                .router-link{
                    border-left: 2px solid #F3F6F8;

                    &.active-link-in-admin{
                        background-color: #ffffff;
                        border-left: 2px solid #398BFF;
                    }
                }
            }
        }
        .messages{
            height: 100vh;
            overflow: auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
    }

</style>