<template>
    <div class="messages-content">
        <div class="loader" v-if="loaderStatus">
            <loader
                :loaderShow="loaderStatus"
                :size="60"
            ></loader>
        </div>
        <template v-else>
            <div class="messages-list">
                <div
                        v-for=" (item, key) in messages"
                        :key="key"
                        :class="['message', {'message-right': getSender(item.author) == 1}]"
                >
                    <Message
                            :sender="getSender(item.author)"
                            :date="item.created"
                            :message="item.text"
                            :author="item.author"
                    ></Message>
                </div>
            </div>
            <MessageSend
                    @send="sendMessage($event)"
            ></MessageSend>
        </template>
    </div>
</template>

<script>
    import moment from 'moment'
    import Message from "@/components/Message";
    import MessageSend from "@/components/MessageSend";
    import * as types from "@/stores/modules/chat/types"
    import loader from "@/components/Loader"

    export default {
        name: "Messages",
        components: {
            Message,
            MessageSend,
            loader
        },
        data() {
            return {
                reload: 0,
                loaderStatus: true
            }
        },
        mounted() {
            setTimeout( () => {
                this.loaderStatus = false
            },1000)
        },
        computed: {
            chatId() {
                return this.$route.params.id
            },
            messages() {
                let messages = this.$store.getters["chat/messagesById"](this.chatId);
                return messages[0].parts
            }
        },
        methods: {
            getSender(name) {
                if (name == this.messages[0].author)
                    return 1
                else
                    return 2
            },
            sendMessage(text) {
                let id = this.messages[this.messages.length - 1].id + 1;
                let author = this.messages[0].author;
                let created = moment().locale('ru').format('DD.MM.YYYY HH:mm');
                this.$store.dispatch("chat/" + types.A_ADD_MESSAGE, {
                    id: this.$route.params.id,
                    data: {
                        id,
                        author,
                        text,
                        created
                    }
                })
            }
        },
        watch: {
            chatId() {
                this.loaderStatus = true
                setTimeout( () => {
                    this.loaderStatus = false
                },1000)
            }
        }
    }
</script>

<style lang="scss" scoped>
    .messages-content {
        min-height: 100vh;
        display: grid;
        grid-template-rows: 1fr auto;

        .loader {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }
        .messages-list {
            padding: 43px 16px 43px 39px;
            display: grid;
            align-content: end;

            .message-right {
                display: flex;
                justify-content: flex-end;
            }
        }
    }
</style>