<template>
    <div class="chat-content">
        <div class="headline">
            <h4 class="title">{{title|minText16}}</h4>
            <p class="date">{{momentDateSearch(date)}}</p>
        </div>
        <div class="chat-text-short">{{text|minText66}}</div>
    </div>
</template>

<script>
    import moment from 'moment'

    export default {
        name: "Chat",
        props: {
            title: {
                type: String,
                default: "title"
            },
            date: {
                type: String,
                default: "2019-08-01 23:59"
            },
            text: {
                type: String,
                default: "text"
            }
        },
        methods: {
            momentDateSearch: function (date) {
                return moment(date).locale('ru').format('DD MMM YYYY');
            },
        }
    }
</script>

<style lang="scss" scoped>
    .chat-content{
        padding: 22px 20px 23px;

        .headline{
            display: flex;
            justify-content: space-between;

            .title{
                font-size: 14px;
                line-height: 20px;
                color: #35383D;
            }
            .date{
                font-size: 10px;
                line-height: 14px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #7D8790;
            }
        }
        .chat-text-short{
            font-size: 13px;
            line-height: 18px;
            color: #7D8790;
            max-width: 257px;
        }
    }

</style>