<template>
    <div v-if="showLoader" class="loader">
        <svg :width="size+'px'" :height="size+'px'" :viewBox="`0 0 ${size} ${size}`" xmlns="http://www.w3.org/2000/svg">
            <circle
                :style="{
                        'stroke': loaderColor,
                        'stroke-width': loaderWidth,
                        'animation-duration': loaderDuration
                        }"
                :cx="size/2" :cy="size/2" :r="(size/2) - 2" fill="none"
            ></circle>
        </svg>
    </div>
</template>

<script>
    export default {
        name: "index",
        props: {
            loaderColor: {
                type: String,
                default: "#2b2b58"
            },
            loaderWidth: {
                type: String,
                default: "2px"
            },
            loaderDuration: {
                type: String,
                default: "2s"
            },
            loaderShow: {
                type: Boolean,
                default: false
            },
            size: {
                type: Number,
                default: 30
            },
        },
        data() {
            return {
                showLoader: this.loaderShow ? this.loaderShow : false
            }
        },
        watch: {
            loaderShow(val) {
                this.showLoader = val
            }
        }
    }
</script>

<style lang="scss" scoped>
.loader{
    svg{
        circle{
            animation-name: rotate;
            animation-iteration-count: infinite;
            stroke-dasharray: 26, 0;
            stroke-dashoffset: 0;
        }
    }
    @keyframes rotate {
        50%{
            stroke-dasharray: 0, 26;
        }
        100% {
            stroke-dashoffset: 360;
        }
    }
}
</style>
