<template>
    <div class="message">
        <div :class="['message-box', (sender == 1) ? 'me' : 'your']">
            <p>
                {{message}}
            </p>
        </div>
        <div :class="['message-date', (sender == 1) ? 'end' : 'start']">
            <div class="name">
                <span>{{author}}</span>
            </div>
            <div class="date">
                <span>{{date}}</span>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "Message",
        props: {
          sender: {
              type: Number,
              default: 1
          },
          date: {
              type: String,
              default: "-"
          },
          message: {
              type: String,
              default: "text"
          },
          author: {
              type: String,
              default: "author"
          },
        },
        data() {
            return {

            }
        }
    }
</script>

<style lang="scss" scoped>
    .message {
        width: 380px;

        .message-box {

            &.me {
                background: #E9F5F4;
                border-radius: 8px 8px 0 8px;
            }
            &.your {
                background: #F6F7F9;
                border-radius: 8px 8px 8px 0;
            }
            padding: 18px 26px;

            p {
                font-size: 14px;
                line-height: 20px;
                color: #475453;
            }
        }

        .message-date {
            margin-top: 10px;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            &.end {
                justify-content: flex-end;
            }
            &.start {
                justify-content: flex-start;
            }

            .name {
                span {
                    font-size: 13px;
                    line-height: 18px;
                    color: #000000;
                    margin-right: 10px;
                }
            }
            .date {
                span {
                    font-size: 10px;
                    line-height: 14px;
                    color: #B7C0C8;
                }
            }
        }
    }
</style>