<template>
    <div class="message-send">
        <textarea v-model="text" placeholder="Введите текст..."></textarea>
        <button @click="sendMessage()">
            <svg v-if="!loaderStatus" width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.00936317 17.2563C0.00989464 17.6114 0.3701 17.8528 0.698756 17.7183L20.8694 9.46274C21.2835 9.29324 21.2835 8.70676 20.8694 8.53726L0.698758 0.281704C0.370102 0.14719 0.00989463 0.388579 0.00936317 0.743697L0.000660091 6.55894C0.000282918 6.81096 0.187529 7.02387 0.437532 7.05569L11.8171 8.504C12.3996 8.57814 12.3996 9.42186 11.8172 9.496L0.437533 10.9443C0.187529 10.9761 0.000282918 11.189 0.000660091 11.4411L0.00936317 17.2563Z" fill="white"/>
            </svg>
            <loader
                    v-else
                    loaderColor="#ffffff"
                    :loaderShow="loaderStatus"
                    :size="22"
            ></loader>
        </button>
    </div>
</template>

<script>
    import loader from "@/components/Loader"

    export default {
        name: "MessageSend.vue",
        data() {
            return {
                text: "",
                loaderStatus: false
            }
        },
        components: {
            loader
        },
        mounted() {
            let messageTop = document.getElementsByClassName("messages")[0];
            messageTop.scrollTo(0, messageTop.scrollHeight);
        },
        methods: {
            sendMessage() {
                if (this.text) {
                    this.loaderStatus = true;
                    setTimeout( () => {
                        this.$emit('send', this.text);
                        this.text = "";
                        this.loaderStatus = false;
                        let messageTop = document.getElementsByClassName("messages")[0];
                        setTimeout( () => {
                            messageTop.scrollTo(0, messageTop.scrollHeight);
                        },0)
                    },500)
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    .message-send {
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
        width: 100%;
        border-top: 1px solid #E9EDF2;

        textarea {
            border: none;
            padding: 30px 20px 10px 20px ;
            resize: none;
            outline: none;
        }

        button {
            position: relative;
            background: #398BFF;
            border: none;
            outline: none;
            align-items: center;
            padding: 30px;
            cursor: pointer;
        }
    }
</style>